<a href="https://colab.research.google.com/github/rezyek06/Titanic_Survival/blob/main/Titanic_Survival.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [140]:
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
import xgboost as xgb

from sklearn.metrics import accuracy_score

In [141]:
sc = StandardScaler()

In [169]:
#https://www.kaggle.com/competitions/titanic/data
train_df = pd.read_csv("/content/train.csv")
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [170]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [171]:
imp = SimpleImputer(strategy='mean')

In [172]:
train_df["Age"] = imp.fit_transform(train_df[["Age"]])

In [173]:
train_df = train_df.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis=1)

In [174]:
train_df = train_df.dropna(axis=0)

In [175]:
dummies = pd.get_dummies(train_df[["Sex", "Embarked"]], dtype=int)

In [176]:
train_df = train_df.drop(["Sex", "Embarked"], axis=1)
train_df = pd.concat([train_df, dummies], axis=1)

In [177]:
x = train_df.drop("Survived", axis=1)
y = train_df["Survived"]

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [178]:
clf = GradientBoostingClassifier()

In [179]:
clf.fit(x_train, y_train)

GradientBoostingClassifier()

In [180]:
clf.score(x_test, y_test)

0.8202247191011236